<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published:AAtach</p>
            <h2><a href="">My first post</a></h2>
            <p> #NUSTA_DHURRRRRR.........................................................
                #NUSTA RADA................................................................</p>
        </div>

        <div>
            <p>published: "AAZch"</p>
            <h2><a href="">My second post</a></h2>
            <p> #BHAU_chi_HAWAAAAAA
                #it ends here</p>
        </div>
    </body>
</html>
